{% load socialaccount %}
{% providers_media_js %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/home.css' %}" type="text/css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Yummytime</title>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=c44yitoede"></script>
</head>

<body>
    <div id="header">
        <a href="{% url 'home' %}">
            <a href="{% url 'home' %}"><h1>Yummy<span style="color:rgb(123, 199, 0)">t</span>ime</h1></a>
        </a>
    </div>

    <!--로그인-->
    <div class="login">
        <a href="/accounts/signup">Join</a>

        {% if user.is_authenticated %}
        <a href="/accounts/logout">Logout</a>
        <div class="ment">{{user.username}} 님이 로그인 중</div>

        {% else %}
        <a href="{% provider_login_url 'google' %}">Login</a>
        <div class="ment">Please Login</div>

        {% endif %}
    </div>
    <br><br>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="box">
            <table>
                <div class="filebox">
                    <label for="id_image">Picture</label><br>
                    {{form.image}}
                </div>
                <p>Text</p>
                {{form.text}}
            </table>
            <br><br>

            <input class="btn" type="submit" value="Submit">
        </div>
    </form>

</body>

</html>